#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: start;
  /* background-image: url(/ellipse.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
  height: 100vh; */
}

.app {
  padding: 0 120px;
  background-image: url(/bg1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.secondBg {
}

.header-section {
  width: 588px;
}
