#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: start;
  height: 100vh;
}

body {
  background-image: url(/bgtl.svg);
  background-position: bottom -400px left;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  padding: 0 120px;
}

#bg {
  background-image: url(/bgtr.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
#bg2 {
  background-image: url(/bgbr.svg);
  background-position: top 200px right;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section {
  width: 588px;
}
