:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0d25; /*Primary*/
  /*background-color: #492c66; /*Tertary*/
  /*background-color: #0c4265; /*Secondary*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: start;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
}
ul,
li {
  /* reset the margin and padding */
  margin: 0;
  padding: 0;
}

#bg {
  background-image: url(/bgtr.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}
#bg2 {
  background-image: url(/bgbr.svg);
  background-position: top 600px right;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  /* max-width: 1280px; */
  max-width: 1440px;
  margin: 0 auto;
  text-align: start;
  padding-bottom: 58px;
}

body {
  background-image: url(/bgtl.svg);
  background-position: bottom -10px left;
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  padding: 0 120px;
}

.header-section {
  width: 588px;
}

.content-section {
  margin-top: 80px;
}

.menu-item {
  cursor: pointer;
}
.menu-item:hover {
  background-color: #251e62;
}
