.badge {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.badge-text {
  fill: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.28px;
}
