.card {
  display: inline-flex;
  padding: 8px 8px 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  border-radius: 12px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(40px);
}

.card-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-media {
  position: relative;
}
.rating {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  display: inline-flex;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
}
.rating-value {
  color: #ffad49;
  /* Body/Regular */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.rating-icon {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 266px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  color: #ebeef5;
  /* Link/Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.action-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.btn-favorite {
  /* Link/Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.fav-1 {
  color: #37d8a7;
}
.fav-0 {
  color: #7b6ef6;
}
